* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --primary-color: #ee4d9b;
    --black-16: rgba(0, 0, 0, 0.16);
    --black-fourteen: #101010;
    --black: #000000;
    --black-four: #0a0a0a
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    /* position: relative; */
}

.filters-wrapper {
    position: relative;

    bottom: 25px;
 
    max-width: 829px;
    margin: 0 auto;
    background-color: #6d2158;
    padding: 1 px;
    min-height: 40px;
  
  }

.filters-row{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--white);
   
   
}

.filters-col{
    
    display: flex;
    /* flex-direction: col; */
    width:20%;
    /* border: 2px solid red; */
   justify-content: center;
   line-height: 40px;
   

   
}
.filters-col:not( .filters-col:nth-of-type(5)) {
    border-right: 2px solid #c3c3c3;
  }

.filters-col-last{
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid red;
}


.Rectangle-262 {
    /* border-radius: 5px; */
    /* box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4); */
    background-color: var(--primary-color);
  }



.Rectangle-133 {
    min-height: 406px;
    padding: 6px 0 0;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 21%, var(--black) 78%);
}

.venue-bg {
    background: url("img/venue-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* img.venue-bg {
    width: 1920px;
    height: 400px;
    padding: 169px 0 38.5px 836.5px;
    object-fit: contain;
} */




.Rectangle-68 {
    width: 739px;
    height: 60px;
    margin: 1px 20px 0 0;
    padding: 0.5px 32px 0.5px 20px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--white);
}

.Rectangle-262 {
    width: 70px;
    height: 60px;
    margin: 0 0 1px 20px;
    padding: 17px 22px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--primary-color);
}


.filters-wrapper {

    max-width: 829px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: #6d2158;
    padding: 1 px;


}

.iconfinder_basics-19_2968141 {
    width: 26px;
    height: 26px;
    background-color: var(--white);
}

@media(max-width:840px) {

    .filters-col {
      width: 100%;
    }
  }