* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --white: #ffffff;
    --primary-color: #ee4d9b;
    --black-16: rgba(0, 0, 0, 0.16);
    --black-fourteen: #101010;
    --black: #000000;
    --black-four: #0a0a0a;
    --white-two: #f8f8f8;
    --black-five: #333333;
    --secondary-color: #6d2158;
}


.footer-wrapper {
    margin: 0 auto;
    max-width: 1920px;
    /* padding: 70px; */
}

.Rectangle-43 {
    min-height: 363.4px;
    /* margin: 803px 0 0; */
    /* padding: 57px 102px 11.4px 151px; */
    padding: 57px 90px 11.4px 90px;
    background-color: var(--secondary-color);
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-col {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 23%;
}

.Ahwanam-Party-Planners {
    margin: 0 0 9px 0;
    font-family: FrankRuhlLibre;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.36px;
    text-align: left;
    color: var(--white);
}

.HNo-8-2-120112B56-3rd {
    margin: 0 0 6px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
}


.oor-BBR-Forum-Road-2 {
    margin-bottom: 48px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
}

.Contact-numbers {
    margin-bottom: 8.8px;
    font-family: FrankRuhlLibre;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.36px;
    text-align: left;
    color: var(--white);
}

.---989-855-0020 {
    margin-bottom: 48.2px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
}

.Email-us- {
    margin: 0 14px 0 0;
    font-family: FrankRuhlLibre;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: -0.36px;
    text-align: left;
    color: var(--white);
}

.Vendors-Packages-Wishlist-Services-About-Contact-us {
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.31;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
}

.Plan-your-wedding-Plan-your-reception-Plan-your-sangeet {
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.81;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
}

.All-Rights-Reserved-Ahwanam-Party-Planners-Terms-Conditions-Privacy-Policy {
   
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.32px;
    text-align: left;
    color: var(--white);
  }

  img.facebook {
    width: 30.4px;
    height: 30.4px;
    margin: 0px 33.5px 1.6px 0;
    object-fit: contain;
  }

  @media(max-width:1405px){
    .footer-col{
        width: 50%;
    }
    
  }

  @media(max-width:675px){
    .footer-col{
        width: 100%;
        /* align-items: center; */
    }
    
  }